.BookingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-top: 2rem;
}

.BookingForm {
  width: 500px; 
  margin: 0 auto; 
  display: flex;
  flex-wrap: wrap; 
}

.BookingForm label {
  width: 48%; 
  margin-bottom: 10px; 
  display: flex;
  align-items: center; 
}

.BookingForm input,
.BookingForm select {
  width: calc(48% - 10px);
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.BookingForm input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.BookingForm input[type="submit"]:hover {
  background-color: #0056b3;
}

.errorLabel {
  color: red;
  font-style: italic;
}
