.bookingsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.bookingsGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.bookingItem {
  width: 300px; /* Ancho fijo para cada booking */
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bookingItem p {
  margin: 5px 0;
}

.bookingFields {
  font-weight: bold;
}