.container {
  padding: 20px;
}

h1 {
  margin: 50px;
  flex-direction: column;
  font-size: 40px;
  color:black;
  font-weight: bolder;
}

.searchContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1px;
}

.calendar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1px;
}

.react-datepicker-wrapper {
  display: inline-block;
}

.react-datepicker__input-container {
  display: flex;
  align-items: center;
}

.react-datepicker__input-container input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.react-datepicker-popper {
  z-index: 1000;
}

.react-datepicker {
  font-size: 14px;
}

.react-datepicker__header {
  background-color: #007bff;
  color: #fff;
}

.react-datepicker__day--selected {
  background-color: #007bff;
  color: #fff;
}

.react-datepicker__day--keyboard-selected {
  background-color: #007bff;
  color: #fff;
}

.options {
  display: flex;
  gap: 10px;
}

.guests,
.rooms {
  display: flex;
  align-items: center;
}

.modifySearchBtn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.infoContainer {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
}

.infoTable {
  width: 100%;
  border-collapse: collapse;
}

.infoTable th,
.infoTable td {
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.infoTable th {
  text-align: left;
}

.infoTable button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


