.roomCardGrid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* Max items per row */
    width: 960px;
    justify-content: center;
    gap: 20px;
}
.roomCardGridTitle{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.checkAvailability{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 5rem;
}