.description {
	max-width: 600px;
	margin: 0 auto;
	color: rgba(229, 229, 229, 0.7)
}

div,
img,
footer {
	position: relative;
	box-sizing: border-box
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 20px;
	font-family: Inter;
	font-weight: 300
}

h1 {
	font-size: 36pt
}

.hotel-name {
	font-size: 20pt;
	color: #7fcff7
}

p {
	font-size: 12pt;
	margin-bottom: 12pt;
	font-family: Inter
}

strong {
	font-weight: 900;
	font-family: Poppins;
	color: #e5e5e5
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%)
}

.centered-y {
	position: absolute;
	width: 100%;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%)
}

.distribution-map {
	position: relative;
	width: 100%;
	box-sizing: border-box;
	margin: 0 auto;
	margin-top: 10%;
	margin-bottom: 10%
}