/* RoomBookingPage.css */
.BookingForm {
  width: 500px; /* Ancho total del formulario */
  margin: 0 auto; /* Centrar el formulario horizontalmente */
  display: flex;
  flex-wrap: wrap; /* Permitir que los elementos se envuelvan en múltiples líneas */
  justify-content: space-between; /* Distribuir los elementos horizontalmente */
}

.BookingForm label {
  width: 48%; /* Ancho del label */
  margin-bottom: 10px; /* Espacio entre cada label y los inputs */
  display: flex;
  align-items: center; /* Centrar verticalmente los labels con los inputs */
}

.BookingForm input[type="text"],
.BookingForm input[type="email"],
.BookingForm input[type="number"],
.BookingForm input[type="date"],
.BookingForm select {
  width: calc(48% - 10px); /* Ancho del input */
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.BookingForm input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.BookingForm input[type="submit"]:hover {
  background-color: #0056b3;
}

.errorLabel {
  color: red;
  font-style: italic;
}
