.roomCard {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.roomType {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.roomField {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.roomCounterContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.reserveButton {
 margin: 0.5rem 0;
}